{% extends 'django_unixusers/base.html' %}
{% block head_title %}
Profile
{% endblock %}

{% block content %}
    <h2>Welcome {{ user.username }}</h2>
    <div class="container">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Change Password
                </div>
                <div class="panel-body">
                    <form method="post">
                        <table class="table">
                            {{ forms.password_change.as_table }}
                            <tr>
                                <td colspan="2" style="text-align: right;">
                                    <input type="submit" value="Change Password"/>
                                </td>
                            </tr>
                        </table>
                        {% csrf_token %}
                    </form>
                </div>
            </div>

        </div>

    </div>
{% endblock %}